/* .row {
    alignment: center;
    gap: 20px;
}

button {
    border-width: 0px;
}

button.add-task {
    background-color: rgb(170, 50, 50);
}

button.inc {
    background-color: rgb(50, 170, 50);
}

label.count {
    alignment: center;
    border-width: 1px;
    border-color: #808080;
    border-radius: 4px;
    width: 50px;
    height: 32px;
} */

.main-container {
  alignment: top;
  padding: 10px;
  gap: 10px;
}

.menu-btns-row {
  alignment: top;
  gap: 4px;
  height: 50px;
}

.config-row {
  alignment: left;
  height: auto;
  /* background-color: aqua; */
  padding: 4px;
}

.auto-rename-checkbox {
  width: auto;
  /* background-color: red; */
  padding-left: 10px;
  alignment: center;
}

.task-row {
  height: 110px;
  /* background-color: red; */
  alignment: top-left;
  padding: 10px;
  /* shadow: 0px 2px 20px rgb(0 0 0 / 10%); */
  corner-radius: 12px;
  border-width: 1px;
  border-color: rgb(0 0 0 / 10%);
}

.task-row.selected {
  border-color: #00c3ff49;
  background-color: #00c3ff0e;
}

.task-btns-row {
  alignment: bottom-left;
  gap: 10px;
}

.task-row:hover {
  background-color: #00000004;
}

.task-row.selected:hover {
  background-color: #00c3ff18;
}

.task-row .task-paths {
  vertical-gap: 10px;
  alignment: top-center;
  /* background-color: red; */
  height: auto;
}

.task-row .task-paths hstack {
  /* background-color: blue; */
  height: auto;
  alignment: top-left;
}

.task-row .del-btn {
  opacity: 0;
  transition: opacity 0.3s;
}

.task-row:hover .del-btn {
  opacity: 1;
  transition: opacity 0.3s;
}

.task-list scroll-content {
  vertical-gap: 20px;
}

/* list.selectable list-item {
  gap: 40px;
}

.task-list scrollview {
  vertical-gap: 10px;
} */

.title {
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  /* background-color: red; */
}

.setting-row {
  alignment: left;
  height: 40px;
  border: 1px solid rgb(0 0 0 / 10%);
  corner-radius: 12px;
  padding: 10px;
}

.settings-window-content {
  alignment: top-left;
  padding: 10px;
  gap: 20px;
}

.badge-label {
  padding-left: 10px;
  padding-right: 10px;
  corner-radius: 12px;
  alignment: center;
  background-color: blueviolet;
  color: white;
}

.badge-label.primary {
  background-color: blueviolet;
  color: white;
}

.badge-label.warning {
  background-color: #edaf00;
  color: #411e03;
}

.badge-label.success {
  background-color: #00ba7b;
  color: #002c21;
}

.badge-label.error {
  background-color: #fe1c55;
  color: #4d0218;
}

.badge-label.lite {
  padding-left: 8px;
  padding-right: 8px;
  height: 18px;
  background-color: #00000000;
  color: #242424;
  font-size: 12px;
  border-width: 1px;
  border-color: #00000020;
}

.rounded-btn {
  corner-radius: 24px;
  height: 32px;
  width: 32px;
}

.rounded-btn.ghost {
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 0px;
}

.format-row {
  /* background-color: red; */
  height: 60px;
  corner-radius: 4px;
  padding-left: 10px;
  alignment: left;
  border-width: 1px;
  border-color: rgb(0 0 0 / 10%);
}

.format-row:hover {
  background-color: #291e1e04;
}

.format-row.selected {
  border-color: #00c3ff49;
  background-color: #00c3ff0e;
}

.format-row.selected:hover {
  background-color: #00c3ff18;
}

.format-list scroll-content {
  vertical-gap: 5px;
}

.format-selector-main {
  padding: 10px;
}

.h1 {
  font-size: 36px;
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
}

.h3 {
  font-size: 20px;
  font-weight: bold;
}

.h4 {
  font-size: 16px;
  font-weight: bold;
}
