/* .row {
    alignment: center;
    gap: 20px;
}

button {
    border-width: 0px;
}

button.add-task {
    background-color: rgb(170, 50, 50);
}

button.inc {
    background-color: rgb(50, 170, 50);
}

label.count {
    alignment: center;
    border-width: 1px;
    border-color: #808080;
    border-radius: 4px;
    width: 50px;
    height: 32px;
} */

.main-container {
  alignment: top;
  padding: 10px;
}

.menu-btns-row {
  alignment: top;
  gap: 4px;
  height: 50px;
  /* background-color: cadetblue; */
}

.config-row {
  alignment: left;
  height: auto;
  /* background-color: aqua; */
  padding: 4px;
}

.auto-rename-checkbox {
  width: auto;
  /* background-color: red; */
  padding-left: 10px;
  alignment: center;
}

.task-list {
  gap: 12px;
  /* background-color: aqua; */
}

.task-row {
  height: 60px;
  /* background-color: red; */
  alignment: left;
  padding: 10px;
  /* shadow: 0px 2px 20px rgb(0 0 0 / 10%); */
  corner-radius: 12px;
  border-width: 1px;
  border-color: rgb(0 0 0 / 10%);
}

.task-list scroll-content{
  vertical-gap: 20px;
}

/* list.selectable list-item {
  gap: 40px;
}

.task-list scrollview {
  vertical-gap: 10px;
} */

.title{
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  /* background-color: red; */
}

.setting-row{
  alignment: left;
  height: 40px;
  border: 1px solid rgb(0 0 0 / 10%);
  corner-radius: 12px;
  padding: 10px;
}

.settings-window-content{
  alignment: top-left;
  padding: 10px;
  gap: 20px;
}